a {
  text-decoration: none;
}

.main {
  width: 100%;
  background: #f8f8f8;
  overflow:hidden;
}

.title-contents {
  max-width: 100vw;
  background-image: image-url('sample-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.service-title {
  color: #fff;
  font-size: 100px;
  letter-spacing: 25px;
}

.service-explain {
  color: #fff;
  font-size: 20px;
  line-height: 40px;

  margin:  0 auto;
}

.store-btn {
  display: flex;
  margin-top: 24px;
  text-align: center;
  margin:  0 auto;
}

.apple-btn {
  margin-right: 1vw;
  height: 6vh;
}

.google-btn {
  height: 6vh;
}


.search-bar-contents {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: #d2d2d2;
}

.search-form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}


.search-button {
  width: 5%;
  border: solid 1px #fff;
  cursor: pointer;
  background-color: #81cac4;
  position: relative;
}

.search-icon {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
  padding: 10px 0;
}

.search-input{
  border: #fff;
  width: 15%;
  text-align: center;
}

.repertoire-contents {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #d2d2d2;
}

.repertoire-contents>.search-title {
  font-size: 20px;
  color: #ca8187;
}

.repertoire-list-name {
    color: #fff;
    border: solid 1px #81cac4;
    background-color: #81cac4;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: block;
    width: 15vh;
    height: auto;
    margin: 10px auto;
    text-align: center;
    padding: 25px;
}

.repertoire-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repertoire-lists>.list {
  margin: 2px;

  }


.repertoire-img {
  width: 42vh;
  height: 33vh;
}

.repertoire-info {
  background-color: #d2d2d2;
  color: black;
  padding: 1vw;
  text-align: center;
}

.repertoire-name {
  font-size: 20px;
}

.repertoire-category {
  font-size: 1vh;
}

.heart-icon {
  height: 1.5vh;
  width: 1.5vh;
  margin-right: 0.5vw;
}

.heart-count {
  font-size: 2vh;
}

.back-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  background-color: #d2d2d2;
  font-size: 25px;
  color: #fff;
}
