<footer class='sub-footer'>
  <div class='sub-footer-text-wrap'>
    <p class='sub-footer-text'>プライバシーポリシー</p>
    <p class='sub-footer-text'>Cookhack利用規約</p>
    <p class='sub-footer-text'>特定商取引に関する表記</p>
  </div>
  <div class='sub-footer-logo'>
    <%= link_to image_tag("cook-hack-logo3shiro.png", class:"main-logo"), "/" %>
  </div>
</footer>