.cooking_hack-contents{
  background-color: rgb(198, 198, 198);
  padding: 20px;
}

.hack-list-name {
  color: #fff;
  border-radius: 50%;
  background-color: #ca8187;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  max-width: 100%;
  height: 5vh;
  margin: 10px auto;
  text-align: center;
  padding: 35px;
  
}




.hack-list{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hack-img {
  width: 18vh;
  height: 18vh;
  border-radius: 50%;
}

.cooking_hack-item {
  margin: 0 20px;
  text-align: center;
}

.cooking_hack-title {
  width: 150px;
  font-size: 1vh;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.heart-btn {
  font-size: 5px;
}