
.top-page-header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(237, 237, 237);
  box-sizing: border-box;  
  position: sticky;
  top: 0;
}

.cook-hack-header-icon {
  
  padding: 10%;
}

.header-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  align-items: center;
  font-size: 1.2vw;
}


.category-item {
  
  color: #81cac4;
  padding: 3vw;
}

.repertoires-item {

  color: #81cac4;
  padding: 3vw;
}

.hack-item {
  color: #81cac4;
  padding: 3vw;

}

.my_page {

  color: #81cac4;
  padding: 3vw;
}

.logout {
  color: #81cac4;
  padding: 3vw;
}

.login {
  text-decoration: none;
  color: #81cac4;
  padding: 3vw;
}

.user-nickname {
  color: #fff;
  font-size: 25px;
  padding: 3vh;
  background-color: #81cac4;
  border-radius: 50px;
  margin-left: 50px;
}

.sign-up {
  color: #81cac4;
  padding: 3vw;
}